<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Balanza.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="connString" value="Server=127.0.0.1;Database=prueba;Uid=root;Pwd=12345678" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="ubicacion" value="balanza" />
    <add key="puerto" value="888" />
    <add key="tiempo" value="2000" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <userSettings>
    <Balanza.Properties.Settings>
      <setting name="puertoBalanza" serializeAs="String">
        <value>""</value>
      </setting>
      <setting name="puertoLectorBalanza" serializeAs="String">
        <value>""</value>
      </setting>
      <setting name="puertoLector" serializeAs="String">
        <value>""</value>
      </setting>
      <setting name="balanzaParity" serializeAs="String">
        <value>None</value>
      </setting>
      <setting name="lectorBalanzaParity" serializeAs="String">
        <value>None</value>
      </setting>
      <setting name="lectorParity" serializeAs="String">
        <value>None</value>
      </setting>
      <setting name="balanzaBaud" serializeAs="String">
        <value>9600</value>
      </setting>
      <setting name="lectorBalanzaBaud" serializeAs="String">
        <value>9600</value>
      </setting>
      <setting name="lectorBaud" serializeAs="String">
        <value>9600</value>
      </setting>
      <setting name="balanzaData" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="lectorBalanzaData" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="lectorData" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="balanzaStop" serializeAs="String">
        <value>One</value>
      </setting>
      <setting name="lectorBalanzaStop" serializeAs="String">
        <value>One</value>
      </setting>
      <setting name="lectorStop" serializeAs="String">
        <value>One</value>
      </setting>
      <setting name="sincUserDni" serializeAs="String">
        <value>11111111</value>
      </setting>
      <setting name="password" serializeAs="String">
        <value>12345678</value>
      </setting>
      <setting name="pesoMin" serializeAs="String">
        <value>1500</value>
      </setting>
      <setting name="balanzaThreshold" serializeAs="String">
        <value>16</value>
      </setting>
    </Balanza.Properties.Settings>
  </userSettings>
</configuration>